@model IEnumerable<Attendance_Management_System.Models.LocalModel>

@{
    ViewBag.Title = "ReportBPage";
}

<table class="table">
    <tr  class="tittle_row">
        <th>
            @Html.DisplayNameFor(model => model.EMP_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATTEND_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCAL_INTIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCAL_OUTTIME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATTEND_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCAL_INTIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCAL_OUTTIME)
        </td>
     
    </tr>
}

</table>
